body{
    height: 100vh;
    background-position: left top;
    background-image: url("msg-1001603127556-91.jpg");
    background-repeat: no-repeat;  
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
.tablo{
    display:none;
    background-color: rgb(256, 256, 256);
    height: 100vh;
}
.big{
    font-size:60px;
}
.position:hover{
    color:rgb(78, 181, 250);
}
span:hover {
    cursor: pointer;
    color:rgb(78, 181, 250);
}


summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}
a{
    text-decoration: none;
    color:black;
}
.directions{
    margin-top:10px;
}


.position:hover {
    cursor: pointer;
}
.logo{
    width:200px;
    height:50px;
}
img{
    position:absolute;
    width:200px;
    height:50px;
}
header{
    background-color: white;
    width: 100%;
    height: 60px;
    position:sticky;
    margin:0px;
    display:flex;
}
.menu-btn:hover{
    background-color: blue;
}
.menu-btn:hover span{
    background-color: white;
}
.menu{
    display:flex;
    margin-top:20px;
    font-size: 20px;
    margin-left:56%;
}

.menu span{
    margin-right:90px;
}
.dropdown{
    margin-right:90px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 140px;
}

.dropbtn
{
  background: url('http://icons.iconarchive.com/icons/custom-icon-design/flag-3/16/Russia-Flag-icon.png') no-repeat left center;
  padding-left: 25px;
  width: 40px;
}

.dropbtn::after {
    background: rgba(0, 0, 0, 0) url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-16.png") no-repeat scroll center center;
    content: "";
    height: 16px;
    position: absolute;
    right: 0;
    top: 7px;
    width: 16px;
}

.dropdown-content a:first-child
{
  background: url('http://icons.iconarchive.com/icons/custom-icon-design/flag-3/16/Russia-Flag-icon.png') no-repeat left center;
}

.dropdown-content a:last-child
{
  background: url('https://icons.iconarchive.com/icons/fatcow/farm-fresh/16/flag-usa-icon.png') no-repeat left center;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 2px 0 2px 25px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
footer {
    background-color: white;
    position: absolute;
    display:flex;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 140px;
  }
footer .menu{
    font-size: 40px;
    margin-left:10%;
}

.menu-btn {
	width: 36px;
	height: 36px;
    margin-left: 20px;
	position: relative;
	z-index:2;
	overflow: hidden;
    background-color: white;
}
.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}
.layout-menu{
    background-color: white;
    width:300px;
    height:100vh;
    display:none;
    margin-left: 1000px;
    position: absolute;
    right: 0;
}
.headofcontent{
    margin-bottom: 20px;
}
.position{
    display:flex;
    margin-bottom:15px;
    margin-left:10px;
}
#fposition{
    margin-bottom:30px;
    margin-left:10px;
    margin-top:4px;
}


#parent_popup {
    display:none;
    background: #000;
    height: 100%;
    opacity: 0.9;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
  }
  #popup {
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
    height: 440px;
    position: fixed;
    top: 100px;
    left: 40%;
    color: black;
    width: 500px;
    border-radius: 5%;
  }
  .popup-cross{
    width:30px;
    height:30px;
    margin-top:20px;
    margin-left:450px;
    background-image: url("https://cdn4.iconfinder.com/data/icons/user-interface-765/100/Close-1024.png");
    background-repeat: no-repeat;  
    background-size: cover;
  }
  h3{
    margin-top:20px;
    margin-left:100px;
  }


/*Стили страницы сотрудников*/
.body_personnel{
    background: url('photo1700056949.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;  
    -o-background-size: cover;    
    background-size: cover; 
  }
.personnel_reg{
    width:260px;
    height:260px;
    background-color: white;
    margin-left:85%;
    margin-right: 4%;
    display:none;
}